.copy {
  h1,
  .h1 {
    padding-bottom: rem(16px);
    font-family: $font-normal;
    font-size: rem(48px);
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.03em;
    color: $color-black;

    @media screen and (min-width: $bp-tablet-sm-up) {
      font-size: rem(68px);
    }
  }

  h2,
  .h2 {
    padding-bottom: rem(16px);
    font-family: $font-normal;
    font-size: rem(40px);
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: $color-black;

    @media screen and (min-width: $bp-tablet-sm-up) {
      font-size: rem(52px);
    }
  }

  h3,
  .h3 {
    padding-bottom: rem(16px);
    padding-bottom: rem(16px);
    font-family: $font-normal;
    font-size: rem(24px);
    color: $color-black;

    @media screen and (min-width: $bp-tablet-sm-up) {
      font-size: rem(32px);
    }
  }

  h4,
  .h4 {
    padding-bottom: rem(16px);
    font-family: $font-normal;
    font-size: rem(20px);
    color: $color-black;

    @media screen and (min-width: $bp-tablet-sm-up) {
      font-size: rem(28px);
    }
  }

  h5,
  .h5 {
    padding-bottom: rem(16px);
    font-family: $font-normal;
    font-size: rem(18px);
    color: $color-black;

    @media screen and (min-width: $bp-tablet-sm-up) {
      font-size: rem(24px);
    }
  }

  h6,
  .h6 {
    padding-bottom: rem(16px);
    font-family: $font-normal;
    font-size: rem(16px);
    color: $color-black;

    @media screen and (min-width: $bp-tablet-sm-up) {
      font-size: rem(20px);
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: rem(12px);
    }
  }

  p,
  ol,
  ul,
  body {
    font-family: $font-normal;
    font-size: 1rem;
    line-height: 1.5;
    color: $color-black;
  }

  a {
    color: $color-black;
    text-decoration: none;
    border-bottom: 1px solid $color-grey;
    padding-bottom: rem(2px);

    &:hover {
      border-color: $color-black;
    }
  }

  .body-lg {
    font-size: rem(20px);

    @media screen and (min-width: $bp-tablet-sm-up) {
      font-size: rem(24px);
    }
  }

  .body-md {
    font-size: rem(18px);

    @media screen and (min-width: $bp-tablet-sm-up) {
      font-size: rem(22px);
    }
  }

  .body-sm {
    font-size: rem(14px);
  }

  .body-xs {
    font-size: rem(12px);
  }
}
