$base-font-size: 16px !default;

// Breakpoints
$bp-mobile: 479px;
$bp-mobile-up: 480px;
$bp-tablet-sm: 767px;
$bp-tablet-sm-up: 768px;
$bp-tablet: 980px;
$bp-desktop: 981px;

// Color
$color-cream: #fde3c7;
$color-purple: #c9bffe;
$color-red: #f3c4cd;
$color-green: #d4fada;

$color-black-100: #fefefe;
$color-black-200: #f5f5f5;
$color-black-300: #dce0eb;
$color-black-400: #dcddeb;
$color-black-500: #6c7892;
$color-black-600: #454f66;
$color-black-700: #201e57;
$color-black-800: #232227;

$color-black: $color-black-800;
$color-grey: $color-black-500;
$color-white: #fff;

// Font
$font-normal: "Satoshi";
$font-italic: "Satoshi-Italic";
